/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #080B12;
}

ul{
    list-style-type: none;
}

h3{
    font-size: 0.8rem;
}

/*-------------------------------BODY----------------------------------*/

.container-flex{
    display: flex;
}

/*-------------------------------HEADER---------------------------------*/

header{
    width: 10%;
    height: calc(100vh - 5rem);
    border: 1px solid magenta;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.col-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0;
}

.int-col-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-icon-spotify{
    font-size: 2.2rem;
}

.size-icon{
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.size-icon-arrow{
    font-size: 0.8rem;
    font-weight: lighter;
    padding-bottom: .4rem;
}

.size-icon-user{
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

.wrap-logo-spotify{
    padding-bottom: 0.1rem;
}

.font-size-title{
    font-size: 1.5rem;
}

.display-none-header{
    display: none;
}

.font-li{
    display: none;
}

.container-playlist{
    display: none;
}
/*---------------------------------MAIN------------------------------*/

main{
    width: 90%;
    border: 1px solid magenta;
    height: calc(100vh - 5rem);
    overflow-y: auto;
}

/*----------------------------------ASIDE-------------------------------*/

.container-upgrade{
    height: 4rem;
    width: 90%;
    border: 1px solid blue;
    position: fixed;
}

.container-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    font-size: 0.7rem;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 2rem;
    border: 1px solid;
    margin-right: 0.3rem;
}

.uppercase{
    text-transform: uppercase;
}

/*------------------------------NAV----------------------------------*/

.padding-nav{
    padding-top:4rem;
}

.container-nav{
    height: 4rem;
    width: 100%;
    border: 1px solid green;
}

.container-nav-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.font-color-gray{
    color: #5E6167;
}

.font-size-nav{
    font-size: 0.65rem;
    font-weight: 700;
}

.margin-elements-nav{
    margin: 0 1rem;
}

/*---------------------------------SECTION ALBUMS-------------------------*/

h2{
    font-size: 1.4rem;
}

.container-albums{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
}

.wrap-title-container-albums{
    padding-bottom: 1.5rem;
}

.wrap-title-section-albums{
    padding: 2rem 0;
}

.row-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.card{
    height: 20rem;
    width: 12rem;
    border: 1px solid magenta;
}

.card-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box-img{
    width: 100%;
    height: 11rem;
}

.box-img-circle{
    width: 100%;
    height: 11rem;
    border-radius: 100%;
}

.img-width{
    width: 100%;
    object-fit: cover;
}

.subtitle-element-margin-bottom{
    margin-bottom: 0.5rem
}

.font-size-subtitle{
    font-size: 0.9rem;
    font-weight: 600;
}


/*----------------------------------FOOTER---------------------------*/

footer{
    position: absolute;
    height: 5rem;
    width: 100%;
    background-color:#282828;
    border: 1px solid blue;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-footer{
    display: flex;
}


@media screen and (min-width: 576px){
    header{
        width: 10rem;
        border: 1px solid magenta;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;  
        padding-left: 0.7rem; 
    }

    .col-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.2rem 0;
    }

    .int-col-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrap-logo-spotify{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0.5rem;
    }

    main{
        width: calc(100% - 10rem);
        border: 1px solid magenta;
        overflow-y: auto;
    }

    .container-upgrade{
        height: 4rem;
        width: calc(100% - 10rem);
        border: 1px solid blue;
        position: fixed;
    }

    .size-icon-spotify{
        font-size: 2rem;
        margin-right: 0.4rem;
    }

    .display-none-header{
        display: initial;
    }

    .font-size-title{
        font-size: 1.3rem;
        font-weight: 700;
    }

    .font-li{
        display: inline;
        font-size: 0.7rem;
        margin-left: 0.4rem;
        vertical-align: middle;
    }

    .font-li-big{
        font-size: 0.8rem;
        vertical-align: super;
        margin-left: 0.4rem;
        font-weight: 700;
    }

    .font-li-small{
        font-size: 0.6rem;
        font-weight: 700;
        vertical-align: middle;
    }

    .container-playlist{
        padding-top: 1rem;
    }

    .li-padding-bottom{
        padding-bottom: 0.8rem;
    }

    .li-padding-top{
        padding-top: 0.4rem;
    }

    .fa-size{
        font-size: 2rem;
    }

    .margin-left-header-span{
        margin-left: 0.5rem;
    }

    .border-bottom-header{
        border-bottom: 1px solid gray;
        width: 8rem;
    }
}