/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #080B12;
}

/*-------------------------------BODY----------------------------------*/

.container-flex{
    display: flex;
}

/*-------------------------------HEADER---------------------------------*/

header{
    width: 10%;
    height: calc(100vh - 8rem);
    border: 1px solid magenta;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*---------------------------------MAIN------------------------------*/

main{
    width: 90%;
    border: 1px solid magenta;
    height: calc(100vh - 8rem);
    overflow-y: auto;
}

/*----------------------------------ASIDE-------------------------------*/

.container-upgrade{
    height: 4rem;
    width: 90%;
    border: 1px solid blue;
    position: fixed;
}

.container-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    font-size: 0.7rem;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 2rem;
    border: 1px solid;
    margin-right: 0.3rem;
}

.uppercase{
    text-transform: uppercase;
}

/*------------------------------NAV----------------------------------*/

.padding-nav{
    padding-top:4rem;
}

.container-nav{
    height: 4rem;
    width: 100%;
    border: 1px solid green;
}

.container-nav-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.font-color-gray{
    color: #5E6167;
}

.font-size-nav{
    font-size: 0.65rem;
    font-weight: 700;
}

.margin-elements-nav{
    margin: 0 1rem;
}

/*---------------------------------SECTION ALBUMS-------------------------*/

.container-albums{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
}

.wrap-title-container-albums{
    padding-bottom: 1.5rem;
}

.row-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.card{
    height: 16rem;
    width: 12rem;
    border: 1px solid magenta;
}

.card-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



/*----------------------------------FOOTER---------------------------*/

footer{
    height: 4rem;
    width: 100%;
    background-color:#282828;
    border: 1px solid blue;
}