/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

ul{
    list-style-type: none;
}

h3{
    font-size: 0.8rem;
}

/*-------------------------------BODY----------------------------------*/

.container-flex{
    display: flex;
}

/*-------------------------------HEADER---------------------------------*/

header{
    width: 10%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #080B12;
}

.col-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0;
}

.int-col-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-icon-spotify{
    font-size: 2.2rem;
}

.size-icon{
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.size-icon-arrow{
    font-size: 0.8rem;
    font-weight: lighter;
    padding-bottom: .4rem;
}

.size-icon-user{
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

.wrap-logo-spotify{
    padding-bottom: 0.1rem;
}

.font-size-title{
    font-size: 1.5rem;
}

.display-none-header{
    display: none;
}

.font-li{
    display: none;
}

.container-playlist{
    display: none;
}
/*---------------------------------MAIN------------------------------*/

main{
    height: calc(100vh - 5rem);
    overflow-y: auto;
    background-color: #080B12;
}

/*----------------------------------ASIDE-------------------------------*/

.container-upgrade{
    height: 4rem;
    width: 90%;
    position: fixed;
    z-index: 0;
    background-color: #080B12;
}

.container-flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    font-size: 0.7rem;
    height: 2rem;
    padding: 0 2rem;
    border-radius: 2rem;
    border: 1px solid;
    margin-right: 0.3rem;
    background-color: transparent;
}

.uppercase{
    text-transform: uppercase;
}

.align-center{
    text-align: center;
}

/*------------------------------NAV----------------------------------*/

.padding-nav{
    padding-top:4rem;
}

.container-nav{
    height: 4rem;
    width: 100%;
}

.container-nav-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.font-color-gray{
    color: #5E6167;
}

.font-size-nav{
    font-size: 0.65rem;
    font-weight: 700;
}

.margin-elements-nav{
    margin: 0 1rem;
}

/*---------------------------------SECTION ALBUMS-------------------------*/

.container-albums{
    padding: 2rem;
}

.discs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.disc-item{
    width: calc(96% / 2);
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

main h3,.img-album,p{
    margin-bottom: 0.5rem;
    text-align: center;
}

.img-album{
    width: 100%;
}

.img-album-circle{
    width:100%;
    border-radius: 100%;
}


main div.disc-item div.disc-overlay{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    font-size: 4rem;
}

.disc-overlay:hover{
    display: flex;
}

.margin-bottom-title{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.font-subtitle {
    color: gray;
    font-size: 0.6rem;
    font-weight: 700;
}

.font-main-subtitle{
    color: gray;
    font-family: 0.8rem;
    font-weight: 600;
}
/*----------------------------------FOOTER---------------------------*/

footer{
    position: absolute;
    height: 5rem;
    width: 100%;
    background-color:#282828;
}

.container-footer{
    height: 100%;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-footer{
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.box-song-played{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.box-song-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4rem;
    padding-left: 6%;
}

.row-footer-se{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column-middle-footer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.row-middle-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.row-middle-footer-sb{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 0.5rem;
    width: 100%;
}

.box-img-footer{
    width: 2.1rem;
    height: 2.1rem;
}


.font-album-footer{
    font-size: 0.65rem;
}

.font-weight-album-footer{
    font-weight: 700;
}

.column-footer-row-left{
    display: flex;
    flex-direction: column;
}

.padding-left-row-footer{
    padding-left: 0.5rem;
}

.margin-bottom-icon-footer{
    margin-bottom: 0.3rem;
}

.icon-size-play{
    font-size: 1.5rem;
}

.icon-font-footer{
    font-size:0.9rem;
}

.bar-song-container{
    height: 0.2rem;
    width: 55%;
    background-color: #909090;
    border-radius: 10px;
    margin: 0 0.5rem;
}

.bar-song{
    height: 0.2rem;
    width: 10%;
    background-color: white;
    border-radius: 10px;
}

.bar-audio-container{
    height: 0.2rem;
    width: 40%;
    background-color: #909090;
    border-radius: 10px;
}

.bar-audio{
    height: 0.2rem;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}

.gap-row-footer{
    gap: 0 0.2rem;
}



/*------------------------------!!!!!!!!!!!!--------------------------------------*/

@media screen and (min-width: 576px){
    header{
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;  
        padding-left: 0.7rem; 
    }

    .col-header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.2rem 0;
    }

    .int-col-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

   .disc-item{
    width: calc(100% / 4);
   }

    .wrap-logo-spotify{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0.5rem;
    }

    main{
        width: calc(100% - 10rem);
        overflow-y: auto;
    }

    .container-upgrade{
        height: 4rem;
        width: calc(100% - 10rem);
        position: fixed;
    }


    .size-icon-spotify{
        font-size: 2rem;
        margin-right: 0.4rem;
    }

    .display-none-header{
        display: initial;
    }

    .font-size-title{
        font-size: 1.3rem;
        font-weight: 700;
    }

    .font-li{
        display: inline;
        font-size: 0.7rem;
        margin-left: 0.4rem;
        vertical-align: middle;
    }

    .font-li-big{
        font-size: 0.8rem;
        vertical-align: super;
        margin-left: 0.4rem;
        font-weight: 700;
    }

    .font-li-small{
        font-size: 0.6rem;
        font-weight: 700;
        vertical-align: middle;
    }

    .container-playlist{
        padding-top: 1rem;
    }

    .li-padding-bottom{
        padding-bottom: 0.8rem;
    }

    .li-padding-top{
        padding-top: 0.4rem;
    }

    .fa-size{
        font-size: 2rem;
    }

    .margin-left-header-span{
        margin-left: 0.5rem;
    }

    .border-bottom-header{
        width: 8rem;
    }

    .box-img-footer{
        width: 2.7rem;
        height: 2.7rem;
    }

    .column-middle-footer{
        align-items: center;
    }

    .box-row-middle-footer{ 
        width: 13rem;
        height: 2rem;
    }

    .row-footer-se{
        width: 13rem;
    }

}   


@media screen and (min-width: 768px){
    .row-footer{
        width: 12rem;
        display: flex;
        justify-content: space-between;
    }

    .column-footer-row-left{
        display: flex;
        flex-direction: row;
    }

    .margin-left-icon-footer{
        margin-left: 1rem;
    }

    .disc-item{
        width: calc(100% / 6);
       }
    
}

